<div class="container">
    <div class="row">
        <div class="col">
            <h2>Attenzione</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p>Vuoi aggiungere una nuova dieta o vuoi modificare quella esistente?
                Considera che aggiungendo una nuova dieta, quella esistente verrà eliminata</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button mat-raised-button (click)="aggiungiNuovaDieta()">Aggiungi nuova dieta</button>
        </div>
        <div class="col">
            <button mat-raised-button (click)="modificaDietaEsistente()">Modifica dieta</button>
        </div>
    </div>
</div>