:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.mat-card {
  border-radius: 10px;
  width: max-content;
  padding: 25px;
  box-shadow: rgba(121, 121, 121, 0.09) 0px 12px 12px, rgba(119, 119, 119, 0.09) 0px -12px 30px, rgba(121, 121, 121, 0.06) 0px 4px 6px, rgba(119, 119, 119, 0.06) 0px 12px 13px, rgba(121, 121, 121, 0.06) 0px -3px 5px;
}

#bottoneLogin {
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
}

h1{
font-weight: bold;
}

a{
color: rgba(8, 99, 189, 1);;
text-decoration: none;
}

a:hover{
text-decoration-line: underline;
}

mat-form-field.mat-form-field {
font-size: 16px;
width: 35rem;
}

.mat-card-title{
  font-weight: bold;
  font-size: 20px;
  position: center;
}