<pre></pre>
<div class="container">
    <div class="row">
      <div class="col">
        <mat-card-title>Misurazione Paziente: {{paziente?.dettagli?.id_paziente}}</mat-card-title> 
      </div>
    </div>
  <br>
    <br>
                      <mat-tab-group  mat-align-tabs="center" [selectedIndex]="misurazioneSelezionata" ScrollDirection= 'after' mat-align-tabs="center">
                          <mat-tab *ngFor="let misurazioneGiorno of data.ListaMisurazioni" label="{{misurazioneGiorno.data_misurazione}}" >
                            <ng-template matTabContent>
                              <app-visualizza-visita-paziente-info [data]="data" [misurazione]="misurazioneGiorno" ></app-visualizza-visita-paziente-info>
                            </ng-template>
                          </mat-tab>
                      </mat-tab-group>
                             
    <br>
    
  </div>
  
  
  
